<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="GPUStack" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Seal Software Co., Ltd." UpgradeCode="36e9d56a-5daa-4543-9e37-d2539e22636c" Codepage="65001">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="GPUStack">
          <Directory Id="GPUStackInternalDir" Name="_internal" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="GPUStackProgramMenu" Name="GPUStack" />
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="GPUStackGlobalData" Name="GPUStack">
        </Directory>
      </Directory>
      <Directory Id="AppDataFolder">
        <Directory Id="GPUStackUserData" Name="GPUStackHelper" />
      </Directory>
    </Directory>

    <Feature Id="GPUStackAll" Level="1">
      <ComponentGroupRef Id="ResourceFiles" />
      <ComponentGroupRef Id="PyinstallerBuiltFiles" />
    </Feature>

    <DirectoryRef Id="GPUStackProgramMenu">
      <Component Id="GPUStackShortcutComponent" Guid="b8e1c7e2-1c2a-4e2a-9e2b-1e2c7e2a1c2b">
        <Shortcut Id="GPUStackStartMenuShortcut"
                  Name="GPUStackHelper"
                  Description="GPUStack Launcher"
                  Target="[INSTALLFOLDER]gpustackhelper.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveGPUStackProgramMenu" Directory="GPUStackProgramMenu" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="ResourceFiles">
      <ComponentRef Id="GPUStackShortcutComponent" />
      <ComponentRef Id="GPUStackService" />
      <ComponentRef Id="UserDataComponent" />
    </ComponentGroup>

    <Property Id="ARPPRODUCTICON" Value="InstallerIcon" />
    <Icon Id="InstallerIcon" SourceFile="$(var.InstallationDir)\GPUStack.ico" />
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Component Id="GPUStackService" Guid="01228aaf-9d48-46ae-a2ec-8220022f9b95" Directory="INSTALLFOLDER">
      <ServiceControl 
        Id="StopGPUStack"
        Name="GPUStack"
        Stop="both"
        Wait="yes" />
        <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Name="ServiceInstalled" Type="integer" Value="1" KeyPath="yes" />
    </Component>
    <Component Id="UserDataComponent" Guid="706fc9d2-30b7-4fcd-9622-c22bc4db940c" Directory="GPUStackUserData">
      <CreateFolder />
      <RemoveFile Id="RemoveGPUStackUserDataFiles" On="uninstall" Name="*" />
      <RemoveFolder Id="RemoveGPUStackUserData" Directory="GPUStackUserData" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="UserDataCreated" Type="integer" Value="1" KeyPath="yes" />
    </Component>
    <CustomAction 
      Id="KillGPUStackHelper" 
      Directory="INSTALLFOLDER" 
      ExeCommand="[SystemFolder]taskkill.exe /f /im gpustackhelper.exe" 
      Execute="deferred" 
      Return="ignore" 
      Impersonate="no" />
    <CustomAction
      Id="DeleteGPUStackService"
      Directory="INSTALLFOLDER"
      ExeCommand="sc.exe delete GPUStack"
      Execute="deferred"
      Return="ignore"
      Impersonate="no" />
    <CustomAction
      Id="RemoveDataDir"
      Directory="INSTALLFOLDER"
      ExeCommand="cmd.exe /C rmdir /S /Q &quot;[GPUStackGlobalData]&quot; &amp; rmdir /S /Q &quot;[GPUStackInternalDir]&quot;"
      Execute="deferred"
      Return="ignore"
      Impersonate="no" />
    <InstallExecuteSequence>
        <Custom Action="KillGPUStackHelper" Before="RemoveFiles">
          REMOVE~="ALL"
        </Custom>
        <Custom Action="DeleteGPUStackService" After="RemoveFiles">
          REMOVE~="ALL" AND NOT UPGRADINGPRODUCTCODE
        </Custom>
        <Custom Action="RemoveDataDir" After="RemoveFiles">
          REMOVE~="ALL" AND NOT UPGRADINGPRODUCTCODE
        </Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
